<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    
If you'd like us to talk about any particular topic or have comments, questions, or feedback – write to us at connect[at]SAPonAzureTalk.com
    


  </div>
  
<a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80ZmNhNmY5NC9wb2RjYXN0L3Jzcw"><img src="https://www.gstatic.com/podcasts_console/promote/English_EN/EN_Google_Podcasts_Badge.svg" width="250px" height="83px" alt="Listen on Google Podcasts">
 </a>
<a href="https://podcasts.apple.com/us/podcast/sap-on-azure-talk/id1557359410?itsct=podcast_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/en-us?size=250x83&amp;releaseDate=1617561060&h=1327b7d156a538962d3557db704e3bc8" alt="Listen on Apple Podcasts" style="border-radius: 13px; width: 250px; height: 83px;"></a>
<a href="https://open.spotify.com/show/4KLJUFrqkSq60gdN1fOlNz"><img src="https://user-images.githubusercontent.com/26795040/113621505-4de6f180-9621-11eb-885a-834129af0f6a.png" width="250px" height="63px" alt="Listen on Spotify">
 </a>


</footer>
